/*
selector {
  property: value;
}

*/

#red {
  color: red;
  display:none;
}

#orange {
  color: orange;
  display:none;
}

#yellow {
  color: yellow;
  display:none;
}

#green {
  color: green;
  display:none;
}

